.Green {
    color: green;
}
.Bold {
    font-weight: bold;
}

.footer {
    height: 200px;
    background-color: bisque;
}

#titleweb {
    margin-left: 10px;
}
.Achiv {
    padding: 16px;
    border-radius: 50px;
    border: 2px solid gray;
    margin: 70px;
    height: 3900px;
    color: green;
    background-color: black;
    
    
}
.AchivP {

    font-size: 22px;

}
#Message {
    font-size: 22px;
}
#WebTitle {
    padding-top: 100px;
}
* {
    font-family: "Raleway", sans-serif

}


span{
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker{
    50%{
      opacity: 0;
    }
  }