.bar-item-color {
    color: rgb(160, 160, 160);
    text-decoration: none;
    transition: 0.6s;
}

@keyframes blink {
    50% { border-color: transparent}
  }

.theNavBar {
    background-color: rgb(4, 20, 44);
    
}

html , body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   

}



html::-webkit-scrollbar {

    width: 10px;
    
}

html::-webkit-scrollbar-thumb {

    background-color:  cadetblue ;
}

html::-webkit-scrollbar-track {

    background-color: rgb(4, 20, 44);
}


#BodyWeb {
    font-family: 'Manrope', sans-serif;
}


#job {
    color: cadetblue;
    text-shadow: 1px 1px rgb(2, 35, 54);
}

.bar-item-color:hover {

    color: white;

}

.circle-img {

    border-radius: 50%;
    border: 1px solid cadetblue;

}

#macbook {
    position: relative;
    bottom: 360px;
    left: 850px;
    height: 180px;
    width: 190px;
}

#laptop {
    position: relative;
    bottom: 390px;
    width: 100px;
    height: 100px;
    left: 1160px;
}

.card-header {
    background-color: rgb(4, 20, 44);
    margin: 0px;
    padding: 0px;
    height: 20px;;
    width: 100%;
}

.imgLogo {
    width: 200px;
    height: 300px;
    overflow: hidden;
    padding-top: 20px;
}

#cssImg {
    width: 300px;
    height: 300px;
}

#corner {
    position: relative;
    border-radius: 50%;
    background-color: rgb(7, 38, 59);
    height: 600px;
    width: 600px;
    left: 70%;
    bottom: 190px;
    
}

#jsImg {
    height: 270px;
    width: 250px;
    position: relative;
    top: 10px;
}

#titleExp {
    
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 55px;
    position: relative;
   
    top: 240px;
}

.w3-myheader-color-back {
    
    background-color: rgb(4, 28, 51) !important;

}

#Frameworks {

    margin-top: 480px;
    

}

#FrameworksFirstRow {

    margin-top: 100px;


}

#FrameworksSecondRow {
    margin-top: 20px;
}

.Cards {

    height: 400px;
    width: 300px;
    margin: 40px;
    transition: 0.6s;

}

.w3-myheader-color-font {
    
    color: rgb(4, 28, 51) !important;

}

.Cards p {
    user-select: none;
}

#firstRowExp {
    
    width: 95%;
    position: relative;
    top: 400px;
    
    

}



#secondRowExp {


    margin-top: 100px;
   

}



#btnReveal {
    
    position: relative;
    top: 320px;
    color: white;
    border: rgb(4, 20, 44) 2px solid;
    width: 200px !important;
    border-radius: 32px;
    transition: 0.6s;
    height: 40px;
    right: 10px;

}

#btnReveal:hover {
    transform: scale(1.1);
    border-width: 1px;
    border-color: white;
    cursor: pointer;

}




#titleA {

    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 50px;
    position: relative;
   
    top: 100px;

}

.ExpMargin {

    position: relative;
    top: 160px;


}



.aboutMe {

    height: 5600px;
    background-color: rgb(1, 25, 44);

}

#projectTitle {

    color: white;
    font-size: 40px;

}

.projectCard {
    width: 99%;
    height: 350px;
    margin-top: 60px;
    padding: 20px;
}

.projectButton {
    width: 100px;
    background-color: rgb(1, 25, 44);
    color: white;
    position: relative;
    top: 290px;
    left: 525px;
    transition: 0.3s;
}

.projectButton:hover {

    width: 120px;
}

.header {

    height: 500px;
    background-color: rgb(4, 28, 51);
   
}


#aboutmeType {
    text-align: center;
}

#bukkitImg {
    width: 190px;
    height: 300px;
}

@media only screen and (max-width: 442px) {

    .Cards {
        width: 200px;
        position: relative;
        right: 20px;
    }

    #frameTitle {
        position: relative;
        left: 12px;
    }

    #titleExp {
        font-size: 45px;
    }


}

.firstTitle {

    font-size: 90px;
    padding-left: 60px;
    font-family: 'Bebas Neue', cursive;
    color: white;


}

.changingSign {

    font-size: 40px;
    padding-left: 90px;
    color: white


}

.proLang {
    font-size: 35px;
}

#htmlImg {

    width: 300px;

}

@media only screen and (max-width: 394px) {

    .firstTitle {
        font-size: 75px;
    }

    .changingSign {
        font-size: 35px;
    }

    #titleA {
        font-size: 35px;
    }

    #textAbout {
        
         font-size: 16px !important;
    }

    #titleExp {
        font-size: 35px;
    }

    .proLang {
        font-size: 24px;
    }

    .Cards {
        left: 20px;
    }

    /*Images in the cards*/
    #htmlImg {
        width: 200px;
        position: relative;
        right: 12px;
    }

    #cssImg {
        width: 200px;
        height: 300px;
    }
    
    #jsImg {
        width: 170px;
        height: 190px;
    }

    .jsStuff {
        margin-top: 50px;
    }

    #csharpImg {
        width: 100px;
    
    }

}

.jsStuff {
    height: 20px;
     background-color: rgb(7, 38, 59);
      position: relative;
       top: 50px;
        border-radius: 20px;
}

@media only screen and (max-width: 270px) {
    .firstTitle {
        font-size: 55px;

    }

    .changingSign {
        font-size: 25px;
    }

    #titleA {
        font-size: 25px;
    }

}

@media only screen and (max-width: 1270px) {
    .aboutMe {
        height: 8200px;
    }
}


.tempCenter {
    
    position: relative;
    left: 4%;

}

.Cards:hover {

    transform: scale(1.1);
    border: white 1px solid;

}

#csharpImg {
    width: 300px;
}

#pythonImg {
    width: 280px;
    height: 280px;
}



#textAbout {
    position: relative;
    text-align: center;
    top: 100px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
     font-size: 22px;
}



h1, h2, h3,h4 {
    font-family: 'Manrope', sans-serif;
    /*font-family: 'Bebas Neue', cursive; */
}