.bar-item-color {
    color: rgb(160, 160, 160);
    text-decoration: none;
    transition: 0.6s;
}

@keyframes blink {
    50% { border-color: transparent}
  }

.theNavBar {
    background-color: rgb(4, 20, 44);
    
}

#BodyWeb {
    font-family: 'Manrope', sans-serif;
}


#job {
    color: cadetblue;
    text-shadow: 1px 1px rgb(2, 35, 54);
}

.bar-item-color:hover {

    color: white;

}

.circle-img {

    border-radius: 50%;
    border: 1px solid cadetblue;

}

#macbook {
    position: relative;
    bottom: 360px;
    left: 850px;
    height: 180px;
    width: 190px;
}

#laptop {
    position: relative;
    bottom: 390px;
    width: 100px;
    height: 100px;
    left: 1160px;
}

.card-header {
    background-color: rgb(4, 20, 44);
    margin: 0px;
    padding: 0px;
    height: 20px;;
    width: 100%;
}

.imgLogo {
    width: 200px;
    height: 300px;
    overflow: hidden;
    padding-top: 20px;
}

#cssImg {
    width: 300px;
    height: 300px;
}

#corner {
    position: relative;
    border-radius: 50%;
    background-color: rgb(7, 38, 59);
    height: 600px;
    width: 600px;
    left: 70%;
    bottom: 190px;
    
}

#jsImg {
    height: 270px;
    width: 250px;
    position: relative;
    top: 10px;
}

#titleExp {
    
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 50px;
    position: relative;
   
    top: 240px;
}

.w3-myheader-color-back {
    
    background-color: rgb(4, 28, 51) !important;

}

.Cards {

    height: 400px;
    width: 300px;
    margin: 40px;
    transition: 0.6s;

}

.w3-myheader-color-font {
    
    color: rgb(4, 28, 51) !important;

}

#firstRowExp {

    margin-top: 400px;



}



#secondRowExp {


    margin-top: 100px;


}



#btnReveal {
    
    position: relative;
    top: 320px;
    color: white;
    border: rgb(4, 20, 44) 2px solid;
    width: 200px !important;
    border-radius: 32px;
    transition: 0.6s;
    height: 40px;
    right: 10px;

}

#btnReveal:hover {
    transform: scale(1.1);
    border-color: white;
    cursor: pointer;

}


#titleA {

    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 50px;
    position: relative;
   
    top: 100px;

}

.ExpMargin {

    position: relative;
    top: 160px;


}

.aboutMe {

    height: 4200px;
    background-color: rgb(1, 25, 44);

}

.header {
    height: 500px;
    background-color: rgb(4, 28, 51);
   
}


#aboutmeType {
    text-align: center;
}


.tempCenter {

    position: relative;
    left: 5%;

}

.Cards:hover {

    transform: scale(1.1);
    border: white 1px solid;

}

#csharpImg {
    width: 300px;
}

#pythonImg {
    width: 280px;
    height: 280px;
}

.secondRow {
    position: relative;
    left: 15px;
}

#textAbout {
    position: relative;
    text-align: center;
    top: 100px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}



h1, h2, h3,h4 {
    font-family: 'Manrope', sans-serif;
    /*font-family: 'Bebas Neue', cursive; */
}